<html>
    <head>
        <title>TODO App | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="todo-container">
            <div id="main-heading">TODO App</div>
            <div id="task-input-container">
                <form action="task/create-task" id="new-task-form" method="POST">
                    <div id="desc-container">
                        <label class="label-heading" for="desc">Description:</label>
                        <input class="input-style" placeholder="Add Description" type="text" name="desc" id="desc" required>
                    </div>
                    <div id="category-date-container">
                        <div id="category-container">
                            <label class="label-heading" for="category">Choose category: </label>
                            <select class="input-style" name="category" id="category" required>
                                <option class="options" value="Personal">Personal</option>
                                <option class="options" value="Work">Work</option>
                                <option class="options" value="School">School</option>
                                <option class="options" value="Cleaning">Cleaning</option>
                                <option class="options" value="Other">Other</option>
                            </select>
                        </div>
                        <div id="date-container">
                            <label class="label-heading" for="date">Date:</label>
                            <input class="input-style" type="date" name="date" id="date" required>
                        </div>
                    </div>
                    <div id="button-container">
                        <input class="button" id="add" type="submit" value="Add Task">
                    </div>
                </form>
                <div id="delete-button-container">
                    <button class="button" id="delete">Delete</button>
                </div>
                
            </div>
            <div id="task-list-container">
                <ul id="task-list">
                    <% for(task of tasks) { %>
                        <li id="item-<%= task.id %>" class="item">
                            <div class="checkbox-container">
                                <input class="checkbox" id="<%= task.id %>" type="checkbox">
                            </div>
                            <div class="item-description-container">
                                <div class="task-description"><%= task.description %></div>
                                <div class="task-date"><%= task.date %></div>
                            </div>
                            <div class="item-category-container">
                                <div class="category"><%= task.category %></div>
                            </div>
                        </li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
</html>